[user]
	name = wussh
	email = andrianta.321@gmail.com
	signingkey = 60F2FCC4CB9DF9E6
[safe]
	directory = /home/wush/flux-new
	directory = /home/wush/portofolio/evershop-ci-cd
	directory = /home/wush/portofolio/fider
	directory = /home/wush/playground/terraformer
	directory = /home/wush/freelance/hypeit-7758cd1a
	directory = /home/wush/falah/pjj-frontend-2
	directory = /home/wush/bri/bri-devops
	directory = /home/wush/bri/mbtl-conf-cicd
	directory = /home/wush/bri/mbtl-bed-account
	directory = /home/wush/bri/mbtl/mbtl-bed-account
	directory = /home/wush/bri/daud-note
	directory = /home/wush/bri/mbtl/mbtl-bed-activity
	directory = /home/wush/bri/mbtl/mbtl-bed-authentication
	directory = /home/wush/bri/mbtl/mbtl-bed-customer
	directory = /home/wush/bri/mbtl/mbtl-bed-localization
	directory = /home/wush/bri/mbtl/mbtl-bed-notification
	directory = /home/wush/bri/mbtl/mbtl-bed-gateway
	directory = /home/wush/bri/mbtl/mbtl-bed-general
	directory = /home/wush/bri/mbtl/mbtl-bed-rest
	directory = /home/wush/bri/mbtl/mbtl-bed-trx-general
	directory = /home/wush/bri/mbtl/mbtl-bed-trx-trf-local
	directory = /home/wush/bri/mbtl/mbtl-sch-non-trx
	directory = /home/wush/bri/mbtl/mbtl-sch-trx
	directory = /home/wush/bri/mbtl/all-in-mbtl
	directory = /home/wush/bri/mbtw/mbtw-bed-account
	directory = /home/wush/bri/mbtw/mbtw-bed-activity
	directory = /home/wush/bri/mbtw/mbtw-bed-auth
	directory = /home/wush/bri/mbtw/mbtw-bed-customer
	directory = /home/wush/bri/mbtw/mbtw-bed-gateway
	directory = /home/wush/bri/mbtw/mbtw-bed-general
	directory = /home/wush/bri/mbtw/mbtw-bed-localization
	directory = /home/wush/bri/mbtw/mbtw-bed-non-monetary
	directory = /home/wush/bri/mbtw/mbtw-bed-notification
	directory = /home/wush/bri/mbtw/mbtw-bed-rest
	directory = /home/wush/bri/mbtw/mbtw-bed-trx-fx-conversion
	directory = /home/wush/bri/mbtw/mbtw-bed-trx-general
	directory = /home/wush/bri/mbtw/mbtw-bed-trx-payment-pnbp
	directory = /home/wush/bri/mbtw/mbtw-bed-trx-transfer-international-brifast
	directory = /home/wush/bri/mbtw/mbtw-bed-trx-transfer-overbooking
	directory = /home/wush/bri/mbtw/mbtw-parameter-setup
	directory = /home/wush/bri/mbtw/mbtw-sch-nontransaction
	directory = /home/wush/bri/mbtw/mbtw-sch-transaction
	directory = /home/wush/portofolio/portofolio
	directory = /home/wush/bri/mbtw/fe-mobile-banking-taipei
	directory = /home/wush/bri/mbtl/mbtl-app-brimotl
	directory = /home/wush/bri/bamboo-script
	directory = /home/wush/bri/bamboo-spec
	directory = /home/wush/playground/mcp/mcp-qdrant
	directory = /home/wush/.oh-my-zsh
	directory = /home/wush/clawd
	directory = /home/wush/playground/mcp/mcp-qdrant
	directory = /home/wush/bri/mbtl/mbtl-bed-trx-trf-qr
	directory = /home/wush/bri/dmove/dmove-be-gateway
	directory = /home/wush/bri/dmove/dmove-bed-auth
	directory = /home/wush/bri/dmove/dmove-bed-prefilling
	directory = /home/wush/bri/dmove/dmove-ui
	directory = /home/wush/bri/dmove/dmove-mfe-remittance
	directory = /home/wush/bri/dmove/dmove-mfe-prefilling
	directory = /home/wush/bri/dmove/dmove-bed-cams
	directory = /home/wush/bri/docker/sonarqube-flutter
	directory = /home/wush/bri/script/docker/sonarqube-flutter
	directory = /home/wush/bri/script/supervisorctl
	directory = /home/wush/bri/script/logstash-conf
	directory = /home/wush/bri/dmove/dmove-bed-notification
	directory = /home/wush/bri/dmove/dmove-bed-onboarding
	directory = /home/wush/bri/dmove/dmove-bed-remittance
	directory = /home/wush/bri/dmove/overseas-app-auth
	directory = /home/wush/bri/mbtl/mbtl-bed-trx-trf-international
	directory = /home/wush/bri/mbtl/mbtl-bed-trx-trf-international
	directory = /home/wush/bri/script/brimove-cli-bamboo
	directory = /home/wush/bri/script/brimove-toolkit
	directory = /home/wush/bri/script/sca-scanner
	directory = /home/wush/bri/script/sca-scanner
	directory = /home/wush/bri/script/checking
	directory = /home/wush/bri/script/bamboo-simulator
	directory = /home/wush/playground/ezbookkeeping
	directory = /home/wush/playground/zsh-backup
[credential]
	helper = store
